<header>
	<!-- NAVBAR -->
	<div id="navbar" class="navbar-fixed">
		<nav class="z-depth-0">
		    <div class="nav-wrapper container">
		      <a materialize="sideNav" [materializeParams]="[{edge:'left', closeOnClick:true }]" href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons burger-btn">menu</i></a>
		      <a href="" [routerLink]="['/']"  class="brand-logo" style="padding-top: 5px;">
		      	LOGO
		      </a>
		      <ul class="right hide-on-med-and-down">
		        <li><a href="" class="nav-item">Home</a></li>
		        <li><a href="#about-section" class="nav-item">About</a></li>
		        <li><a href="#news-section" class="nav-item">News</a></li>
		        <li><a href="#contact-section" class="nav-item">Contact Us</a></li>
		      </ul>
		    </div>
		  </nav>
	</div>
	<!-- MUST BE OUTSIDE THE NAVBAR-FIXED DIV -->
	<ul id="mobile-demo" class="side-nav">
		<li>
			<a href="#about-section">
				LOGO
			</a>
		</li>
		<li><a href="">Home</a></li>
		<li><a href="#about-section">About</a></li>
		<li><a href="#news-section">News</a></li>
		<li><a href="#contact-section">Contact Us</a></li>
	</ul>
</header>