header, main, footer {
  padding-right: 200px;
}

.container {
	width: 90%;
}

.side-nav {
  background-color: #1f1f1f;
  width: 200px;
  color: #777;
}

.side-nav li h1 {
  display: block;
  position: relative;
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: opacity;
}

.neon {
  color: #d4eaff;
  text-shadow: 0 0 0 transparent, 0 0 10px #fff, 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px #fff, 0 0 100px #fff, 0 0 200px #fff, 0 0 300px #fff, 0 0 500px #fff;
  -webkit-animation: buzz 0.01s infinite alternate;
  animation: buzz 0.01s infinite alternate;
}

.blinking {
  animation: blinker 3s linear infinite;
}

.btn-back:hover {
  background-color: #404040;
}

.info-text {
  /* font-family: 'Courier New', Courier, monospace; */
  color: #fff;
}

.page-name-initial {
  text-align: center;
  font-size: 150px;
  margin-top: 60px;
  margin-bottom: 65px;
  font-weight: bolder;
}

.page-name {
  text-align: center;
  font-size: 150px;
  margin-bottom: 65px;
  font-weight: bolder;
}

#collage-container {
  position: fixed;
  z-index: 0;
  margin-left: -250px;
  margin-top: -280px;
  width: 100%;
  opacity: .05;
  -o-opacity: .05;
  -ms-opacity: .05;
  -moz-opacity: .05;
  -webkit-opacity: .05;
  /* filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: filter .5s; */
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}
@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}
@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}

/* Smartphones */
@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-right: 0;
	}
}

/* 15" Laptops */
@media (min-width: 1536px) {
  .page-name-initial {
    text-align: center;
    font-size: 150px;
    margin-top: 60px;
    margin-bottom: 65px;
    font-weight: bolder;
    opacity: .1;
  }

  .page-name {
    text-align: center;
    font-size: 150px;
    margin-bottom: 65px;
    font-weight: bolder;
    opacity: .1;
  }

  #collage-container {
    position: fixed;
    z-index: 0;
    margin-left: -30px;
    margin-top: -280px;
    width: 100%;
    opacity: .05;
    -o-opacity: .05;
    -ms-opacity: .05;
    -moz-opacity: .05;
    -webkit-opacity: .05;
    /* filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter .5s; */
  }
}

/* Monitors (1920x1080) */
@media (min-width: 1920px) {
  .page-name-initial {
    text-align: center;
    font-size: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: bolder;
    opacity: .1;
  }

  .page-name {
    text-align: center;
    font-size: 200px;
    /* margin-top: 50px; */
    margin-bottom: 100px;
    font-weight: bolder;
    opacity: .1;
  }

  #collage-container {
    position: fixed;
    z-index: 0;
    margin-left: -250px;
    margin-top: -280px;
    width: 100%;
    opacity: .05;
    -o-opacity: .05;
    -ms-opacity: .05;
    -moz-opacity: .05;
    -webkit-opacity: .05;
    /* filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter .5s; */
  }
}

