<header class="no-pad-bot">
	<!-- FIXED SIDEBAR -->
	<ul id="sidenav-fixed" class="side-nav fixed hide-on-small-only show-on-medium-and-down right-black">
		<li class="center"><h2>C</h2></li>
		<li class="center"><h2>O</h2></li>
		<li class="center"><h2>N</h2></li>
		<li class="center"><h2>T</h2></li>
		<li class="center"><h2>A</h2></li>
		<li class="center"><h2>C</h2></li>
		<li class="center"><h2>T</h2></li>
		<li><a href="" [routerLink]="['/']" class="right-black"><i class="material-icons left right-black">arrow_back</i>B A C K</a></li>
	</ul>

		<a href="mailto:seanquijote" target="_blank">
			<div id="email-div">
			    <a href="mailto:seanquijote" target="_blank" class="btn-floating btn-large wave-effect wave-light z-depth-4 hoverable" style="background-color: #d44638; height: 100px; width: 100px;">
			    	<i fa class="fa fa-envelope fa-lg contact-icons"></i>
			    </a>		
			    <span class="white-text" style="margin-left: 30px;">seanquijote@gmail.com</span>
			</div>
		</a>

		<a href="https://www.linkedin.com/in/seanquijote" target="_blank">
			<div id="linkedin-div">
			    <a href="www.linkedin.com/in/seanquijote" target="_blank" class="btn-floating btn-large wave-effect wave-light z-depth-4 hoverable" style="background-color: #0077b5; height: 100px; width: 100px;"><i fa class="fa fa-linkedin fa-lg contact-icons"></i></a>
			    <span class="white-text" style="margin-left: 30px;">www.linkedin.com/in/seanquijote</span>
			</div>
		</a>

		<a href="https://github.com/seanquijote" target="_blank">		
			<div id="github-div">
	      		<a href="https://github.com/seanquijote" target="_blank" class="btn-floating btn-large wave-effect wave-light z-depth-4 hoverable" style="background-color: #2b3137; height: 100px; width: 100px;"><i fa class="fa fa-github fa-lg contact-icons"></i></a>
			    <a href="https://github.com/seanquijote" target="_blank" class="white-text" style="margin-left: 30px;">www.github.com/seanquijote</a>
			</div>
		</a>

		<a href="https://www.youtube.com/channel/UCIeYEdwSeL507ws4y93CDVw" target="_blank">
			<div id="youtube-div">
			    <a href="https://www.youtube.com/channel/UCIeYEdwSeL507ws4y93CDVw" target="_blank" class="btn-floating btn-large wave-effect wave-light z-depth-4 hoverable" style="background-color: #FF0000; height: 100px; width: 100px;"><i fa class="fa fa-youtube fa-lg contact-icons"></i></a>
			    <span class="white-text" style="margin-left: 30px;">Sean Quijote</span>
			</div>
		</a>

		<a href="https://www.facebook.com/seanquijote" target="_blank">		
			<div id="facebook-div">
			    <a href="https://www.facebook.com/seanquijote" target="_blank" class="btn-floating btn-large wave-effect wave-light z-depth-4 hoverable" style="background-color: #3B5998; height: 100px; width: 100px;"><i fa class="fa fa-facebook fa-lg contact-icons"></i></a>
			    <span class="white-text" style="margin-left: 30px;">www.facebook.com/seanquijote</span>
			</div>
		</a>

		<a href="https://www.instagram.com/seanquijote/" target="_blank">
			<div id="instagram-div">
			    <a href="https://www.instagram.com/seanquijote/" target="_blank" class="btn-floating btn-large wave-effect wave-light z-depth-4 hoverable instagram-bg" style="background-color: #FF0000; height: 100px; width: 100px;"><i fa class="fa fa-instagram fa-lg contact-icons"></i></a>
			    <span class="white-text" style="margin-left: 30px;">www.instagram.com/seanquijote</span>
			</div>
		</a>

</header>
