<header>
	<div id="navbar" class="navbar-fixed">
		<!-- DESKTOP NAVBAR -->
		<nav class="top-nav right-black-bg show-on-large hide-on-medium-and-down">
			<div class="nav-wrapper container">
				<a class="brand-logo page-name center" style="letter-spacing: 5px;">WORK</a>
				<ul class="right">
					<li>
            <a [routerLink]="['/']"><i class="material-icons left white-text">arrow_upward</i> BACK</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- MOBILE NAVBAR -->
		<nav class="z-depth-0 right-black-bg show-on-medium-and-down hide-on-large-only" style="height: 11%; padding: 10px;">
			<div class="nav-wrapper container">
				<a [routerLink]="['/']"  class="white-text waves-effect waves-light left">
					<i class="button-collapse material-icons">arrow_upward</i>
				</a>
				<a class="brand-logo" style="letter-spacing: 5px;">WORK</a>
			</div>
		</nav>
	</div>
</header>

<main fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section img-hover-zoom--blur">
    <span [ngStyle]="{'background-image': 'url(assets/images/screencap_ov.png)', 'background-color': '#1f1f1f', 'background-size': 'cover', 'background-attachment': 'fixed', 'background-repeat': 'no-repeat'}" style="position: absolute; left: 0; top: 0; height: 100%; width: 100%;"></span>
    <div class="container center" style="position: relative; margin-top: -100px;">
      <div class="project-item">
        <div class="row" data-aos="fade-up">
          <div class="col l12">
              <h1 class="md-letters-spaced"><b>OVCode</b></h1>
              <h4 class="sm-letters-spaced" >A patented technology that integrates blockchain to digital signature, cryptography and permanent storage.</h4>
              <h5 class="sm-letters-spaced">
                View the project
                <a href="https://ovcode.com" target="_blank" class="hvr-underline-from-left sm-letters-spaced">
                  here <i fa class="fa fa-share-square-o"></i>
                </a>
              </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section img-hover-zoom--blur">
    <span [ngStyle]="{'background-image': 'url(assets/images/screencap_kepler.png)', 'background-color': '#1f1f1f', 'background-size': 'cover', 'background-attachment': 'fixed', 'background-repeat': 'no-repeat'}" style="position: absolute; left: 0; top: 0; height: 100%; width: 100%;"></span>
    <div class="container center" style="position: relative; margin-top: -100px;">
      <div class="project-item">
        <div class="row" data-aos="fade-up">
          <div class="col l12">
              <h1 class="md-letters-spaced"><b>Kepler Insight Portal</b></h1>
              <h4 class="sm-letters-spaced">A web portal for Kepler Insight School of Science and Arts.</h4>
              <h5 class="sm-letters-spaced">
                View the project
                <a href="http://keplerinsight.com.ph/" target="_blank" class="hvr-underline-from-left sm-letters-spaced">
                  here <i fa class="fa fa-share-square-o"></i>
                </a>
              </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section img-hover-zoom--blur">
    <span [ngStyle]="{'background-image': 'url(assets/images/screencap_ictalumni.png)', 'background-color': '#1f1f1f', 'background-size': 'cover', 'background-attachment': 'fixed', 'background-repeat': 'no-repeat'}" style="position: absolute; left: 0; top: 0; height: 100%; width: 100%;"></span>
    <div class="container" style="position: relative;">
      <div class="row" data-aos="fade-up">
        <div class="col l12">
          <div class="project-item">
            <h1 class="md-letters-spaced"><b>ICT Alumni Portal</b></h1>
            <h4 class="sm-letters-spaced ">A web portal that aids our university's ICT department in keeping track of the employment data of all ICT alumni.</h4>
            <h5 class="sm-letters-spaced ">
              View the project
              <a href="http://gtsystem.hol.es/" target="_blank" class="hvr-underline-from-left sm-letters-spaced">
                here <i fa class="fa fa-share-square-o"></i>
              </a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section img-hover-zoom--blur">
    <span [ngStyle]="{'background-image': 'url(assets/images/screencap_gsportal.png)', 'background-color': '#1f1f1f', 'background-size': 'cover', 'background-attachment': 'fixed', 'background-repeat': 'no-repeat'}" style="position: absolute; left: 0; top: 0; height: 100%; width: 100%;"></span>
    <div class="container" style="position: relative;">
      <div class="row" data-aos="fade-up">
        <div class="col l12">
          <div class="project-item">
            <h1 class="md-letters-spaced"><b>Graduate School Portal</b></h1>
            <h4 class="sm-letters-spaced">A web portal that aids our university's Graduate School Department in keeping track of the academic data and employment data of all graduate students</h4>
            <h5 class="sm-letters-spaced">
              View the project
              <a href="http://gsportal.esy.es/" target="_blank" class="hvr-underline-from-left sm-letters-spaced">
                here <i fa class="fa fa-share-square-o"></i>
              </a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section img-hover-zoom--blur" style="background-color: #1f1f1f;">
      <span [ngStyle]="{'background-image': 'url(assets/images/lexmark_white.png)', 'background-attachment': 'fixed', 'background-repeat': 'no-repeat', 'background-position': 'center'}" style="position: absolute; left: 0; top: 0; height: 100%; width: 100%;"></span>
      <div class="container" style="position: relative;">
        <div class="row" data-aos="fade-up">
          <div class="col s12 m6 l6" style="margin: 20px  0 20px 0;">
            <div class="project-item">
              <h2 class="md-letters-spaced"><b>Firmware Assessment Script Hub</b></h2>
              <h5 class="sm-letters-spaced">A web application that calls and executes bash scripts for testing automation. This is a self-initiated project during my internship at Lexmark.</h5>
            </div>
          </div>
          <div class="col s12 m6 l6" style="margin: 20px  0 20px 0;">
              <div class="project-item">
                <h2 class="md-letters-spaced"><b>Firmware Version Compiler</b></h2>
                <h5 class="sm-letters-spaced">A web application that compiles the firmware code version of the printer. This is a self-initiated project during my internship at Lexmark.</h5>
              </div>
          </div>
        </div>
      </div>
    </div>
</main>
