.container {
	width: 90%;
}

.side-nav {
	width: 165px;
	margin-top: 60px;
	overflow: hidden;
  height: 100%;
  background: #1f1f1f;
}

.side-nav:hover {
	overflow-y: scroll;
}

.movePrevCarousel, .moveNextCarousel {
	font-size: 30px;
}

.fixed-action-btn {
	float: right;
}

.left-button{
	left: 23px;
	right: auto;
}

.youtube-videos {
	background-color: #FF0000;
}

.lrdc-logo {
	height: 60%;
	width: 60%;
}

.letters-spaced {
	letter-spacing: 10px;
}

.btn-back:hover {
	background-color: #404040;
}

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform .3s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.01);
}

/* main {
  padding-right: 150px;
} */

@media only screen and (max-width : 992px) {
	/* main {
		padding-right: 0;
	} */

	.lrdc-logo {
		height: 80%;
		width: 80%;
	}

	.letters-spaced {
		letter-spacing: 0;
	}

	.work-desc {
		position: relative;
		top: 20px;
	}
}
