<main>

	<!-- DESKTOP VIEW -->
	<div class="desktop-view" class="show-on-large hide-on-med-and-down">
		<!-- FIXED SIDEBAR -->
		<ul id="sidenav-fixed" class="side-nav fixed white-text z-depth-2">
			<li class="center">
        <h6>
          <a [routerLink]="['/']" class="btn-back btn-floating btn-large btn-flat waves-effect waves-light">
            <i class="medium material-icons white-text">arrow_back</i>
          </a>
       </h6>
      </li>
			<li class="page-name-initial">S</li>
			<li class="page-name">K</li>
			<li class="page-name">I</li>
			<li class="page-name">L</li>
			<li class="page-name">L</li>
			<li class="page-name">S</li>
    </ul>

    <div class="flexbox white-text">
      <!-- <span class="skills-bg" [ngStyle]="{'background': 'url(assets/images/skills_languages.png) no-repeat'}"></span> -->
      <div class="col l3 center languages-wrapper">
        <h4 class="skill-header md-letters-spaced">Languages</h4>
        <small class="sm-letters-spaced"><b>(Programming, markup, and style sheet)</b></small>
        <div class="row white-text thin-font">
          <h5 class="skill-level sm-letters-spaced">Currently using...</h5>
          <ul class="sm-letters-spaced">
            <div class="col l6">
              <li>C#</li>
              <li>TypeScript</li>
              <li>PHP</li>
            </div>
            <div class="col l6">
              <li>JavaScript</li>
              <li>HTML</li>
              <li>CSS</li>
            </div>
          </ul>
        </div>
        <div class="row thin-font">
          <h5 class="skill-level sm-letters-spaced">Most experienced with...</h5>
          <ul class="sm-letters-spaced">
            <div class="col l6">
              <li>PHP</li>
              <li>JavaScript</li>
              <li>TypeScript</li>
            </div>
            <div class="col l6">
              <li>HTML</li>
              <li>CSS</li>
            </div>
          </ul>
        </div>
        <div class="row thin-font">
          <h5 class="skill-level sm-letters-spaced">Some experience with...</h5>
          <ul class="sm-letters-spaced">
            <div class="col l6">
              <li>Visual Basic 6</li>
              <li>Java</li>
              <li>Bash</li>
              <li>Markdown</li>
              <li>SQL</li>
            </div>
            <div class="col l6">
              <li>C</li>
              <li>C++</li>
              <li>Python</li>
              <li>XAML</li>
              <li>PL/SQL</li>
            </div>
          </ul>
        </div>
      </div>
      <div class="col l3 center tools-wrapper">
        <h4 class="skill-header md-letters-spaced">Tools</h4>
        <small class="sm-letters-spaced"><b>(Frameworks, libraries, databases, and platforms)</b></small>
        <div class="row white-text thin-font">
          <h5 class="skill-level sm-letters-spaced">Currently using...</h5>
          <ul class="sm-letters-spaced">
            <div class="col l6">
              <li>Laravel</li>
              <li>Tensorflow</li>
              <li>ExpressJS</li>
              <li>NodeJS</li>
              <li>MongoDB</li>
            </div>
            <div class="col l6">
              <li>Angular</li>
              <li>Bootstrap</li>
              <li>Materialize</li>
              <li>NPM</li>
              <li>Git</li>
            </div>
            <div class="col l12">
              <li>Google Vision API</li>
            </div>
          </ul>
        </div>
        <div class="row white-text thin-font">
          <h5 class="skill-level sm-letters-spaced">Most experienced with...</h5>
          <ul class="sm-letters-spaced">
            <div class="col l6">
              <li>Laravel</li>
              <li>ExpressJS</li>
              <li>CodeIgniter</li>
              <li>Angular</li>
              <li>MySQL</li>
            </div>
            <div class="col l6">
              <li>Bootstrap</li>
              <li>Materialize</li>
              <li>NPM</li>
              <li>Git</li>
            </div>
          </ul>
        </div>
        <div class="row white-text thin-font">
          <h5 class="skill-level sm-letters-spaced">Some experience with...</h5>
          <ul class="sm-letters-spaced">
            <div class="col l6">
              <li>SVN</li>
              <li>Tensorflow</li>
              <li>HSM on Demand</li>
            </div>
            <div class="col l6">
              <li>UWP</li>
              <li>MongoDB</li>
              <li>Docker</li>
            </div>
            <div class="col l12">
              <li>Google Vision API</li>
            </div>
          </ul>
        </div>
      </div>
    </div>
	</div>

	<!-- MOBILE VIEW -->
	<div class="mobile-view" class="show-on-medium-and-down hide-on-large-only center">
		<div id="navbar" class="navbar-fixed">
			<nav class="z-depth-0 grey darken-4" style="height: 11%; padding: 10px;">
        <div class="nav-wrapper container">
          <a [routerLink]="['/']" class="white-text waves-effect waves-light left">
            <i class="button-collapse material-icons">arrow_back</i>
          </a>
          <a class="brand-logo center" style="letter-spacing: 5px;">SKILLS</a>
        </div>
			</nav>
		</div>
    <div class="row languages-wrapper">
      <div class="col s12 white-text center">
          <h4 class="skill-header md-letters-spaced">Languages</h4>
          <small class="sm-letters-spaced"><b>(Programming, markup, and style sheet)</b></small>
          <h5 class="skill-level sm-letters-spaced">Currently using...</h5>
          <ul class="sm-letters-spaced">
              <li>C#</li>
              <li>TypeScript</li>
              <li>PHP</li>
              <li>JavaScript</li>
              <li>HTML</li>
              <li>CSS</li>
          </ul>
          <h5 class="skill-level sm-letters-spaced">Most experienced with...</h5>
          <ul class="sm-letters-spaced">
              <li>PHP</li>
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>HTML</li>
              <li>CSS</li>
          </ul>
          <h5 class="skill-level sm-letters-spaced">Some experience with...</h5>
          <ul class="sm-letters-spaced" style="padding-bottom: 30px;">
              <li>Visual Basic 6</li>
              <li>Java</li>
              <li>Bash</li>
              <li>Markdown</li>
              <li>SQL</li>
              <li>C</li>
              <li>C++</li>
              <li>Python</li>
              <li>XAML</li>
              <li>PL/SQL</li>
          </ul>
      </div>
    </div>
    <div class="row tools-wrapper" style="margin-top: -24px; margin-bottom: -10px;">
      <div class="col s12 white-text center">
          <h4 class="skill-header md-letters-spaced">Tools</h4>
          <small class="sm-letters-spaced"><b>(Frameworks, libraries, databases, and platforms)</b></small>
          <h5 class="skill-level sm-letters-spaced">Currently using...</h5>
          <ul class="sm-letters-spaced">
            <li>Laravel</li>
            <li>Tensorflow</li>
            <li>ExpressJS</li>
            <li>NodeJS</li>
            <li>MongoDB</li>
            <li>Angular</li>
            <li>Bootstrap</li>
            <li>Materialize</li>
            <li>NPM</li>
            <li>Git</li>
            <li>Google Vision API</li>
          </ul>
          <h5 class="skill-level sm-letters-spaced">Most experienced with...</h5>
          <ul class="sm-letters-spaced">
            <li>Laravel</li>
            <li>ExpressJS</li>
            <li>CodeIgniter</li>
            <li>Angular</li>
            <li>MySQL</li>
            <li>Bootstrap</li>
            <li>Materialize</li>
            <li>NPM</li>
            <li>Git</li>
          </ul>
          <h5 class="skill-level sm-letters-spaced">Some experience with...</h5>
          <ul class="sm-letters-spaced" style="padding-bottom: 30px;">
            <li>Tensorflow</li>
            <li>SVN</li>
            <li>UWP</li>
            <li>MongoDB</li>
            <li>Google Vision API</li>
            <li>HSM on Demand</li>
            <li>Docker</li>
          </ul>
      </div>
    </div>
	</div>
</main>
