.side-nav {
  background-color: #1f1f1f;
  width: 200px;
  color: #777;
}

.skills-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .1;
}

.languages-wrapper {
  background-color: #d44638;
}

.tools-wrapper {
  background-color: #0077b5;
}

.skill-header {
  margin-top: 50px;
}

.skill-level {
  margin-top: 50px;
}

.page-name-initial {
  text-align: center;
  font-size: 150px;
  margin-top: 60px;
  margin-bottom: 65px;
  font-weight: bolder;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.page-name {
  text-align: center;
  font-size: 150px;
  margin-bottom: 65px;
  font-weight: bolder;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.circle-btn {
	height: 100px;
	width: 100px;
}

.link-text {
  margin-left: 30px;
  overflow: hidden;
}

.btn-back:hover {
  background-color: #404040;
}

.flexbox {
  min-height: 100vh;
  display: flex;
}

.flexbox > div {
  flex: 1;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

header, main, footer {
  padding-left: 200px;
}

/* Smartphones */
@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

/* 15" Laptops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .page-name-initial {
    text-align: center;
    font-size: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bolder;
    opacity: .1;
  }

  .page-name {
    text-align: center;
    font-size: 100px;
    margin-bottom: 30px;
    font-weight: bolder;
    opacity: .1;
  }
}

/* Monitors (1920x1080) */
@media (min-width: 1281px) {
  .page-name-initial {
    text-align: center;
    font-size: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bolder;
    opacity: .1;
  }

  .page-name {
    text-align: center;
    font-size: 100px;
    margin-bottom: 30px;
    font-weight: bolder;
    opacity: .1;
  }

  .flexbox > div {
    flex: 1;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
  }
}
