/* You can add global styles to this file, and also import other style files */
body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fff;
}

main {
    flex: 1 0 auto;
}

.container {
	width: 90%;
}

.right-black {
	color: #303030;
}

.thin-font {
	font-weight: 300;
}