/* You can add global styles to this file, and also import other style files */

/* FullpageJS Style */
@import url(~fullpage.js/dist/fullpage.min.css);

body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #303030;
}

main {
    flex: 1 0 auto;
}

.right-black {
	color: #303030;
}

.right-black-bg {
	background-color: #303030;
}

.thin-font {
	font-weight: 300;
}

.white-shadow {
    transition: text-shadow .5s;
    text-shadow: 0px 0px 0px #fff; 
}

.white-hover:hover {
    text-shadow: 0px 0px 20px #fff; 
}

.floating-y {  
    animation-name: floating-y;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.floating-x-l {  
    animation-name: floating-x-l;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.floating-x-r {  
    animation-name: floating-x-r;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-y {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

@keyframes floating-x-l {
    from { transform: translate(0px,  0); }
    50%  { transform: translate(-15px, 0); }
    to   { transform: translate(-0px, 0); }    
}

@keyframes floating-x-r {
    from { transform: translate(0px,  0); }
    50%  { transform: translate(15px, 0); }
    to   { transform: translate(-0px, 0); }    
}