
<!-- 	<div [ngStyle]="{'background': '#fff url(assets/images/home_bg.jpeg) no-repeat 0 0'}">
		<h1 class="center">SEAN KYLE NIÑO QUIJOTE</h1>	
	</div> -->
	<div style="position: absolute; left: 50%; top: 35%;">
		<div class="card-panel center z-depth-4 white-text nameplate">
			<img class="responsive-img" src="assets/images/logo.png" style="height: 150px; width: 100px;">
			<h5><b>Sean Kyle Niño Quijote</b></h5>
		</div>
	</div>

	<div class="row center" style="padding-top: 20px;">
		<div class="col s12 m12 l6">
			<a href="" class="btn btn-wide background-image">
			<!-- <a href="" class="btn btn-wide" style="background: url(assets/images/about_btn_bg.png);"> --><br><br>
				<i class="material-icons large" style="font-size: 100px;">info_outline</i>
				<h1>ABOUT</h1>
			</a>
		</div>
		<div class="col s12 m12 l6">
			<a href="" class="btn btn-wide"><br><br>
				<i class="material-icons large" style="font-size: 100px;">work</i>
				<h1>WORK</h1>
			</a>
		</div>
	</div>


	<div class="row center">
		<div class="col s12 m12 l6">
			<a href="" class="btn btn-wide"><br><br>
				<i fa class="fa fa-code" style="font-size: 100px;"></i>
				<h1>SKILLS</h1>
			</a>
		</div>
		<div class="col s12 m12 l6">
			<a href="" [routerLink]="['/contact']" class="btn btn-wide"><br><br>
				<i fa class="fa fa-vcard" style="font-size: 100px;"></i>
				<h1>CONTACT</h1>
			</a>
		</div>
	</div>
