
<!-- 	<div [ngStyle]="{'background': '#fff url(assets/images/home_bg.jpeg) no-repeat 0 0'}">
		<h1 class="center">SEAN KYLE NIÑO QUIJOTE</h1>	
	</div> -->
	<div class="card-panel center nameplate z-depth-4 white-text">
		<h5><b>Sean Kyle Niño Quijote</b></h5>
	</div>

	<div class="row center" style="padding-top: 20px;">
		<div class="col s12 m12 l6">
			<a href="" class="btn btn-wide" style="background: url(assets/images/about_btn_bg.png);">
				<i class="material-icons large">info_outline</i><br>
				<span style="font-size: 54px;">ABOUT</span>
			</a>
		</div>
		<div class="col s12 m12 l6">
			<a href="" class="btn btn-wide"><h1>ABOUT</h1></a>
		</div>
	</div>


	<div class="row center">
		<div class="col s12 m12 l6">
			<a href="" class="btn btn-wide"><h1>ABOUT</h1></a>
		</div>
		<div class="col s12 m12 l6">
			<a href="" class="btn btn-wide"><h1>ABOUT</h1></a>
		</div>
	</div>
