<main>
  <!-- <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles> -->
  <!-- <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" style="position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%; min-height: 100vh;"> -->
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%; min-height: 100vh; text-align: center;">
      <!-- <div class="section" [ngStyle]="{background: 'url(./assets/images/home_bg.png) no-repeat fixed'}"> -->
			<div class="row" style="z-index: 1;">
        <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
				<div class="col l3 center-align">
					<div class="floating-x-l">
            <a [routerLink]="['/about']" class="navLink animated hide-on-init" animateOnScroll animationName="fadeInLeft">
							<div class="btn-nav-glow">
                <h6 class="light grey-text text-lighten-3 letters-spaced btn-icon">ABOUT</h6>
                <i class="material-icons light grey-text text-lighten-3">keyboard_arrow_left</i>
							</div>
              <p class="flavorText light grey-text text-lighten-3 thin-font center-align">A little info about me</p>
						</a>
					</div>
				</div>
        <div class="col l6 center-align">
          <div style="margin-top: 10%;">
            <img class="responsive-img" src="assets/images/my-logo-wht.png" style="height: 130px; width: 80px;">
            <h4 class="light grey-text text-lighten-3 letters-spaced thin-font btn-icon" data-text="SEAN QUIJOTE">SEAN QUIJOTE</h4>
            <small class="light grey-text text-lighten-3 thin-font" style="letter-spacing: 3px;">
              <code class="blinking">>&nbsp;</code>
              <!-- <code class="input">junior software engineer</code> -->
              <code class="typewrite" data-period="2000" data-type='[ "jr. software engineer", "currently playing The Witcher 3", "still learning how to ride a bike" ]'>
                <span class="wrap"></span>
              </code>
            </small>
          </div>
          <div class="floating-y" style="margin-top: 25%;">
            <a [routerLink]="['/work']" class="navLink animated hide-on-init" animateOnScroll animationName="fadeInRight">
              <div class="btn-nav-glow">
                <span class="navTitle">
                  <h6 class="light grey-text text-lighten-3 letters-spaced btn-icon">WORK</h6>
                </span>
                <i class="material-icons light grey-text text-lighten-3">keyboard_arrow_down</i>
              </div>
              <p class="flavorText light grey-text text-lighten-3 thin-font center-align">A little info about my work</p>
            </a>
          </div>
        </div>
				<div class="col l3 center-align">
					<div class="floating-x-r">
            <a [routerLink]="['/contact']" class="navLink animated hide-on-init" animateOnScroll animationName="fadeInRight">
							<div class="btn-nav-glow">
                <h6 class="light grey-text text-lighten-3 letters-spaced btn-icon">CONTACT</h6>
                <i class="material-icons light grey-text text-lighten-3">keyboard_arrow_right</i>
							</div>
              <p class="flavorText light grey-text text-lighten-3 thin-font center-align">A little info about my contact details</p>
						</a>
					</div>
				</div>
			</div>
		<!-- </div> -->
<!-- 		<div class="section">
			<div class="container">
				<div class="row center">
					<div class="col s12 m12 l4">
						<a [routerLink]="['/about']" class="btn btn-wide waves-effect grey darken-4 hoverable hvr-sweep-to-left hide-on-init" animateOnScroll animationName="animated fadeInLeft" offset="-100">
							<i fa class="fa fa-info-circle btn-text-color btn-icon"></i>
							<h4 class="btn-text-color">A B O U T</h4>
						</a>
					</div>
					<div class="col s12 m12 l4">
						<a [routerLink]="['/work']" class="btn btn-wide waves-effect hoverable hvr-sweep-to-bottom">
							<i fa class="fa fa-briefcase btn-text-color btn-icon"></i>
							<h4 class="btn-text-color">W O R K</h4>
						</a>
					</div>
					<div class="col s12 m12 l4">
						<a [routerLink]="['/contact']" class="btn btn-wide waves-effect hoverable hvr-sweep-to-right">
							<i fa class="fa fa-vcard btn-text-color btn-icon"></i>
							<h4 class="btn-text-color">C O N T A C T</h4>
						</a>
					</div>
				</div>
			</div>
		</div>	 -->
<!-- 		  <div materialize="carousel" class="carousel carousel-slider center" [materializeParams]="[{ indicators: false, fullWidth: true }]">
		    <div class="carousel-fixed-item center">
		      <a class="btn waves-effect white grey-text darken-text-2">button</a>
		    </div>
		    <div class="carousel-item red white-text" href="#one!" [ngStyle]="{background: 'url(./assets/images/home_bg.png)'}">
		      <h2>First Panel</h2>
		      <p class="white-text">This is your first panel</p>
		    </div>
		    <div class="carousel-item amber white-text" href="#two!">
		      <h2>Second Panel</h2>
		      <p class="white-text">This is your second panel</p>
		    </div>
		    <div class="carousel-item green white-text" href="#three!">
		      <h2>Third Panel</h2>
		      <p class="white-text">This is your third panel</p>
		    </div>
		    <div class="carousel-item blue white-text" href="#four!">
		      <h2>Fourth Panel</h2>
		      <p class="white-text">This is your fourth panel</p>
		    </div>
		  </div>   -->
<!-- 		<div class="section white" (click)="fullpage_api.moveSectionDown()">Some section2</div>
		<div class="section orange">
			<div class="slide">Slide 2.1</div>
			<div class="slide">Slide 2.2</div>
			<div class="slide">Slide 2.3</div>
		</div>
		<div class="section" (click)="fullpage_api.moveTo('secondPage', 2)">Some section4</div> -->

</div>
<!-- 	<div id="desktop-view" class="show-on-large hide-on-med-and-down" mnFullpage [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true">
		<div class="row">
			<div materialize="slider" class="slider" [materializeParams]="[{ indicators: false, height: 600 }]">
				<ul class="slides" style="background-color: #303030;">
				  	<li>
					    <img class="responsive-img slider-bg" src="assets/images/home_bg.png">
					    <div class="caption center-align">
							<img class="responsive-img" src="assets/images/logo_wht.png" style="height: 20%; width: 20%;"><br><br>
					     	<h4 class="light grey-text text-lighten-3 letters-spaced">SEAN QUIJOTE</h4>
					     	<h6 class="light grey-text text-lighten-3 letters-spaced">
					     		<code><span class="blinking">></span>coding_here</code> | <span class="ml12">Filming there</span>
					     	</h6>
					    </div>
				  	</li>
				</ul>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="row center">
					<div class="col s12 m12 l4">
						<a [routerLink]="['/about']" class="btn btn-wide waves-effect grey darken-4 hoverable">
							<i fa class="fa fa-info-circle btn-text-color btn-icon"></i>
							<h4 class="btn-text-color">A B O U T</h4>
						</a>
					</div>
					<div class="col s12 m12 l4">
						<a [routerLink]="['/work']" class="btn btn-wide waves-effect hoverable">
							<i fa class="fa fa-briefcase btn-text-color btn-icon"></i>
							<h4 class="btn-text-color">W O R K</h4>
						</a>
					</div>
					<div class="col s12 m12 l4">
						<a [routerLink]="['/contact']" class="btn btn-wide waves-effect hoverable">
							<i fa class="fa fa-vcard btn-text-color btn-icon"></i>
							<h4 class="btn-text-color">C O N T A C T</h4>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div> -->



	<!-- MOBILE VIEW -->
	<div id="mobile-view" class="show-on-medium-and-down hide-on-large-only">
		<div class="row">
			<div materialize="slider" class="slider" [materializeParams]="[{ indicators: false }]">
				<ul class="slides" style="background-color: #303030;">
				  	<li>
					    <!-- <img class="responsive-img slider-bg" src="assets/images/home_bg.png"> -->
					    <div class="caption center-align">
							<img class="responsive-img hoverable" src="assets/images/logo_wht.png" style="width: 40%;"><br><br>
					     	<h4 class="light grey-text text-lighten-3 letters-spaced">SEAN QUIJOTE</h4>
					     	<h6 class="light grey-text text-lighten-3 letters-spaced">
					     		<code><span class="blinking">></span>coding_here</code>
					     		<hr style="width: 70%;">
					     		<span class="ml12">Filming there</span>
					     	</h6>
					    </div>
				  	</li>
				</ul>
			</div>
		</div>

		<div id="mobile-content">
			<div class="row">
				<div class="col s6 m6">
					<a [routerLink]="['/about']" class="btn btn-wide waves-effect waves-light hoverable">
						<div style="margin-top: 30px;">
							<i fa class="fa fa-info-circle btn-text-color btn-icon"></i>
							<div class="white-text" style="font-size: 14px;">A B O U T</div>
						</div>
					</a>
				</div>
				<div class="col s6 m6">
					<a [routerLink]="['/contact']" class="btn btn-wide waves-effect waves-light hoverable">
						<div style="margin-top: 30px;">
							<i fa class="fa fa-vcard btn-text-color btn-icon"></i>
							<div class="white-text" style="font-size: 12px;">C O N T A C T</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m12">
					<a [routerLink]="['/work']" class="btn btn-wide waves-effect waves-light hoverable">
						<div style="margin-top: 30px;">
							<i fa class="fa fa-briefcase btn-text-color btn-icon"></i>
							<div class="white-text" style="font-size: 16px;">W O R K</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</main>
